{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<main class='flex flex-col items-center justify-center h-screen'>
  <div class="w-full max-w-xs">
    <h1 class='font-bold mb-6 text-3xl text-center'>Iniciar sesión</h1>
    <form action="" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        {{ form.username|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'|attr:'autocomplete:off'}}
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        {{ form.password|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'|attr:'autocomplete:off'}}
      </div>

      <div class="flex items-center justify-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>    
</main>
{% endblock %}
