{% extends 'base.html' %}

{% block content %}
<main class="vh-100">

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="/" class="navbar-brand" href="">Dashboard</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Ajustes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authenticate:logout' %}">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- content -->
  <div class="container mt-4">
    <h1>Detección IA/RFID</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>RID</th>
          <th scope="col">Persona predecida</th>
          <th scope="col">Confianza</th>
          <th scope="col">Tarjeta</th>
          <th scope="col">Fecha</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
        <tr>
          <th scope="row">{{registro.id}}</th>
          <td>{{ registro.persona_predecida }}</td>
          <td>{{ registro.confianza }}</td>
          <td>{{ registro.tarjeta }}</td>
          <td>{{ registro.fecha }}</td>
          <td>
            <a href="{% url 'data:review' registro.id %}" class="btn btn-success">Visualizar</a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</main>
{% endblock %}
